<!-- products.handlebars -->

<p>First name: {{first_name}}</p>
<p>Last name: {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Role: {{role}}</p>

<h1>Products</h1>

<ul>
    {{#each products}}
        <li>{{name}} - {{price}}</li>
    {{/each}}
</ul>