<h1>My Profile</h1>
<p>Name: {{first_name}}</p>
<p>Last_name: {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Age: {{age}}</p>
<p>Role: {{role}}</p>

<form action="/api/sessions/current" method="DELETE">
  <button type="submit">Log out</button>
</form>

<script src="/js/profile.js"></script>